<header>
  
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Library App</li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if logged_in? %>
     <li><%= link_to "Users", '#' %></li>
     <li><%= link_to "Profile", current_user %></li>
     <li><%= link_to "Settings", edit_user_path(current_user) %></li>
     <%= link_to "Log out", logout_path, method: "delete" %>
     <% else %>
     <li><%= link_to "Log in", login_path %></li>
     <% end %>
    </ul>
  </div>
 
</div> 	
  </header>